<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>criarUsuario</servlet-name>
        <servlet-class>controller_MenuUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_usuario</servlet-name>
        <servlet-class>servlets.Servlet_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_listaUsuarios</servlet-name>
        <servlet-class>servlets.Servlet_listaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_listaAtividades</servlet-name>
        <servlet-class>servlets.Servlet_listaAtividades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_atividade</servlet-name>
        <servlet-class>servlets.Servlet_atividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_participacaoAtividade</servlet-name>
        <servlet-class>servlets.Servlet_participacaoAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_login</servlet-name>
        <servlet-class>servlets.Servlet_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_logout</servlet-name>
        <servlet-class>servlets.Servlet_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_perfil</servlet-name>
        <servlet-class>servlets.Servlet_perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_menuPrincipal</servlet-name>
        <servlet-class>servlets.Servlet_menuPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_errorPermissao</servlet-name>
        <servlet-class>servlets.Servlet_errorPermissao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_excluirParticipacaoAtividade</servlet-name>
        <servlet-class>servlets.Servlet_excluirParticipacaoAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_listaPerfil</servlet-name>
        <servlet-class>servlets.servlet_listaPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_listaPerfils</servlet-name>
        <servlet-class>servlets.Servlet_listaPerfils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_excluirAtividade</servlet-name>
        <servlet-class>servlets.Servlet_excluirAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_expediente</servlet-name>
        <servlet-class>servlets.Servlet_expediente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>criarUsuario</servlet-name>
        <url-pattern>/view_CriarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RecebeDados</servlet-name>
        <servlet-class>RecebeDados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecebeDados</servlet-name>
        <url-pattern>/RecebeDados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_usuario</servlet-name>
        <url-pattern>/servlet_usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_listaUsuarios</servlet-name>
        <url-pattern>/servlet_listaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_listaAtividades</servlet-name>
        <url-pattern>/servlet_listaAtividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_atividade</servlet-name>
        <url-pattern>/servlet_atividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_participacaoAtividade</servlet-name>
        <url-pattern>/servlet_participacaoAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_login</servlet-name>
        <url-pattern>/servlet_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_logout</servlet-name>
        <url-pattern>/servlet_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_perfil</servlet-name>
        <url-pattern>/servlet_perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_menuPrincipal</servlet-name>
        <url-pattern>/servlet_menuPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_errorPermissao</servlet-name>
        <url-pattern>/servlet_errorPermissao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_excluirParticipacaoAtividade</servlet-name>
        <url-pattern>/servlet_excluirParticipacaoAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_listaPerfil</servlet-name>
        <url-pattern>/servlet_listaPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_listaPerfils</servlet-name>
        <url-pattern>/servlet_listaPerfils</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_excluirAtividade</servlet-name>
        <url-pattern>/servlet_excluirAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_expediente</servlet-name>
        <url-pattern>/servlet_expediente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>servlet_login</welcome-file>
    </welcome-file-list>
</web-app>
